__pycache__/
*.pyc
.ipynb_checkpoints/
*.ipynb
ai_models/platform-services-python-sdk/
dist/
build/
*.egg-info/

# Generated output data
output/

# Trained models
ai_models/models/
*.pth
finetuned_models/

# Results
results/

# Kaggle credentials
.kaggle/kaggle.json
# Kaggle kernel/output
/kaggle_kernel/output
